{% extends parent_template|default:"catalog/base_catalog.html" %}

{% block title %}
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ dvd.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          dvd {{ dvd.name }}?
        </p>
        <a href="{{ dvd.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Dvd</button>
      </form>
    </div>
  </div>
{% endblock %}
